@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: 'GE SS Two';
  src: url('./assets/fonts/GE-SS-Two-Bold.otf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Medium (most common) */
@font-face {
  font-family: 'GE SS Two';
  src: url('./assets/fonts/GE-SS-Two-Bold.otf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'GE SS Two';
  src: url('./assets/fonts/GE-SS-Two-Bold.otf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GE SS Two', Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fixed {
  will-change: transform;
}

body {
  overflow-x: hidden;
  height: 100%;
}

/* حركة الخلفية */
.animated-div {
  will-change: width, clip-path;
}

.circle {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cue-btn-center {
  width: 100%;
  display: flex;
   /* default right */
   background:transparent;
   justify-content: center; /* ✅ محتوى في الوسط */
}

.cue-btn-right {
  width: 100%;
  display: flex;
   /* default right */
   background:transparent;
   justify-content: right; /* ✅ محتوى على اليمين */
}
/* تصميم النص المتحرك */
.text-videoScroll-right {
  margin-top: 30px;
  cursor: pointer;
  background: linear-gradient(45deg, #052a79 0%, #2563EB 50%, #ffffff 100%);
  color: #ffffff;
  animation: gradientFlow 6s ease infinite;
  background-size: 200% 200%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* ✅ محتوى على اليمين */
  text-align: right;
  margin-right: 4rem;
  
}


.text-videoScroll-center{
  margin-top: 30px;
  cursor: pointer;
  background: linear-gradient(45deg, #052a79 0%, #2563EB 50%, #ffffff 100%);
  color: #ffffff;
  animation: gradientFlow 6s ease infinite;
  background-size: 200% 200%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* ✅ محتوى على اليمين */
  text-align: right;
}



.text-title-scroll{
  color: #ffffff;
  font-size: 2rem;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 30px;
}


.text-dis-scroll{
  color: #ceced4;
  font-size: 1rem;
  text-align: right;
  margin: 30px 10px;
}

.box-sizeProjects-scroll{
  width: 30rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: #052a79;
}